* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* LAYOUT */

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

button {
  padding: 5px 20px;
  margin: 0 10px;
}

img {
  max-width: 30%;
  margin: 25px auto;
  border-radius: 8px;
}

#main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout for breeds page */
#breeds-page {
  width: 100%;
  height: auto;
}

#backbtn {
  margin-bottom: 20px;
  padding: 5px 20px;
}

h1 {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  width: 100%;
}

.breed-name {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}
